{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties",{},"class"],
        ["@babel/plugin-proposal-object-rest-spread",{},"spread"]
    ]
}